.priceComp {
  text-align: center;
  margin: 0px 0px;
  padding: 0px 32px;
  font-family: Lato;
  border-color: #DCDCDC;
  border-style: solid;
  border-width: 1px;
}


.priceComp .unitPerHour {
    font-size: 12px;
    position: relative;
    font-weight: lighter;
    top: -4px;
    left: 4px;
    color: #7F7F7F;
}

.priceComp .duration {
    font-size: 16px;
    position: relative;
    bottom: 4px;
    color:#7F7F7F;
}

.priceComp .smaller {
  font-size: 12px !important;
}

.priceComp .up {
  top: 4px !important;
  position: absolute !important;

}

.priceComp .down {
    bottom: 4px !important;
    position: absolute !important;

}

.priceComp .costPerHour {
  font-weight: bold;
  font-size: 24px;
  padding: 4px;
}

.priceComp .approxMonthlyCost {
  font-size: 12px;
  color: #7F7F7F;
}

.monthlyEstimateOnSide {
  display: inline-block !important;
}
.monthlyEstimateOnSameLine {
  display: inline-block !important;
  position:relative;
}

.onSide{
  display: inline-block;
}

/*
Note required in  CliQr

*/

.center {
  width: 100%;
  text-align: center;
}

.container {
  display: inline-block;
  width: 400px;
  height: 280px;
  text-align: center;
}

.setters {
  position: relative;
  text-align: center;
}

.hide {
  display: none;
}
